# ==========================
# ENVIRONMENT
# ==========================
.env

# ==========================
# DEPENDENCIES
# ==========================
/vendor/

# ==========================
# OS FILES
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE / EDITORS
# ==========================
.vscode/
.idea/

# ==========================
# LOGS & CACHE
# ==========================
*.log
cache/
