RewriteEngine On
RewriteBase /cotieventosV2/

# No redirigir si es un archivo o carpeta real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo a index.php
RewriteRule . index.php [L]